.col-md-6 img {
    position: relative;
    border: 2px solid #d9b08c;
    margin-bottom: 45px;
    width: 100%;
    height: 85%;
}
.col-md-6 p {
    position: absolute;
    bottom: 15%;
    right: 15px;
    left: 15px;
    background: url(../../images/plate.jpeg);
    background-size: 600px 500px;
    text-align: center;
    color:  #d9b08c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-left: 2px solid #d9b08c;
    border-right: 2px solid #d9b08c;
    padding: 5px 0px 5px 0px; 
}
.gitLink {
    position: absolute;
    bottom: 5%;
    right: 15px;
    left: 15px;
    text-align: center;
    color:  #d9b08c;
}