#maincontent {
    border: 1px solid #d9b08c;
    background: url(../../images/leather.jpg);
    background-size: 1000px 800px;
    width: 70%;
    max-width: 70%;
    margin: 150px 70px 100px 70px;
    padding: 10px 40px 10px 40px;
}
#maincontent h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  #d9b08c;
    border-bottom: 2px solid #ccc;
    margin-bottom: 40px;
    font-size: 37px;
    font-weight: 700;
    line-height: 90px;
}


