header {
    background-color: black;
    border-bottom: 6px solid #d9b08c;
}
.navbar {
    padding: 0;
}
#yourname {
    width: 250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #d9b08c;
    text-align: center;
    background: url(../../images/plate.jpeg);
    background-size: 600px 500px;
    text-decoration: none;
    margin-left: 70px;
}

/* Collapsible links in header */
.navbar-toggler img {
    height: 35px;
    width: 35px;
    margin: 0px 20px 0px 0px;
}
.navbar .collapse {
    margin-right: 40px;
}
#navbarCollapse a {
    padding-left: 15px;
    margin-left: 15px;
    color: #999;
    font-size: 21px;
    text-decoration: none;
    border-left: 1px solid #efefef;   
}
#navbarCollapse a:first-child {
    border-left: none;
}
