footer {
    background: black;
    color: #ccc;
    text-align: center;
    padding: 20px;
    border-top: 8px solid  #d9b08c;
    font-size: 14px;
    /* margin-top: auto; */
    /* position: relative; */
    bottom: 0;
}